@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #1dc071;
    --color-secondary: #6f49fd;

    --color-text1: #171725;
    --color-text2: #4b5264;
    --color-text3: #808191;
    --color-text4: #b2b3bd;

    --color-icon: #a2a2a8;

    --color-white: #ffffff;
    --color-white-soft: #fcfbff;
    --color-gray-soft: #fcfcfc;
    --color-strock: #f1f1f3;
    --color-lite: #fcfcfd;

    --color-error: #eb5757;

    --color-dark-bg: #13131a;
    --color-dark-secondary: #1c1c24;
    --color-soft-dark: #22222c;
    --color-dark-soft: #24242c;
    --color-dark-stroke: #3a3a43;
    --color-dark-red: #422c32;

    --shadow-shadowMain: 10px 10px 20px rgba(218, 213, 213, 0.15);
}

@utility animate-fade-in {
    animation: fadeIn 1s ease-in-out both;
}

body {
    font-family: "Epilogue", sans-serif;
    font-size: var(--text-base);
    line-height: 1.5;
}

input,
button {
    outline: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-80px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
